* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a,a:link,a:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

header {
    width: 97%;
    margin: 5px auto;
    box-shadow: 1px 1px 1px 1px #888;
}


header img {
    width: 5%;
    height: auto;
}

img.logout-button {
    float: right;
    cursor: pointer;
}

img.logout-button:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

header h2 {
    color: white;
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;

}

header > * {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}


nav {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    right: auto;
}

div.tab {
    display: inline-block;
    width: 20%;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 4px;
}

.tab:hover {
    background: rgba(0,0,0,0.3);
}

.current_tab {
    display: block;
    background: rgba(0,0,0,0.3);
}


img.tabimg {
    width: 40%;
    height: auto;
}

article {
    display: none;
    width: 97%;
    margin: 5px auto;
}

.how {
    font-family: monospace;
    background: rgba(255,255,255,0.5);
}

.how h3 {
    background: linear-gradient(blue, Navy);
    color: white;
}

.rule {
    color: #222;
    margin-left: 27px;
    padding: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.how, .notice {
    width: 100%;
    display: block;
    margin: 5px auto;
    color: white;
}

.notice {
    background: linear-gradient(#222,#333);
    box-shadow: 1px 1px 1px grey;
    text-shadow: 1px 1px 1px black;
    border: 1px solid grey;
    font-family: monospace;
    cursor: pointer;
}

h3 {
    font-size: 1.2em;
    border-bottom: 1px solid grey;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    padding: 5px;

}

.notice h3 {
    background: linear-gradient(orange, yellow);
    color: white;
}

.notice h4 {
    font-size: 0.8em;
    padding: 5px;
    font-family: monospace;
    text-align: justify;
    color: black;
    background: linear-gradient(whiteSmoke,GhostWhite);
    text-shadow: 1px 1px 1px white;
}

.tooltab {
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.tooltab img {
    width: 5%;
    height: auto;
}

.tooltab h4 {
    color: white;
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;

}

.tooltab > * {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

img.close {
    float: right;
    cursor: pointer;
}

img.close:hover {
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

.pledge-button {
    width: 30%;
    background: #008CBA;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: white;
    float: right;
}

.pledge-button:hover {
    background: white;
    color: #008CBA;
    border: 2px solid #008CBA;
}

select {
    background: rgba(255,255,255,0.1);
    width: 62%;
    color: blue;
}

select, .pledge-button {
    font-family: monospace;
    font-size: 1em;
    height: 3em;
    margin: 5px;
    text-align: center;
    border: none;
}

.reward {
    color: brown;
    padding: 5px;
    font-size: 80%;
    font-family: monospace;
}

.paymentid {
    float: right;
    padding-right: 10px;
    color: red;
    padding: 5px;
    font-family: monospace;
    font-size: 80%;
}

.reward, .paymentid {
    display: inline-block;
}

#pledgers {
    margin: 5px;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    font-family: Arial;
}

article h5 {
    padding: 7px;
    font-size: 1em;
    background: linear-gradient(#eee,#ddd);
    color: #222;
    text-align: center;
    font-family: Arial;
}

.confirm-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 30%;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    margin: 5px;
}

.confirm-button:hover {
    background: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.confirm {
    margin: 5px;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    font-family: Arial;
}

.confirm span {
    color: #4CAF50;
}

input.transact {
    margin: 5px;
    width: 60%;
    padding: 15px 0;
    background-color: #4CAF50;
    border: none;
    text-align: center;
}

select.received {
    display: block;
    width: 100%;
    margin: 5px auto;

}

.help-box {
    width: 100%;
    margin: 5px auto;
}

textarea {
    width: 99%;
    height: 120px;
    border: none;
}

.help-box label {
    color: yellow;
    font-family: "Arial":
    font-size: 2rem;
    font-weight: bold;
}

.complain-button {
    float: right;
    padding: 7px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #4CAF50;
    color: white;
}

.pledge-pending {
    background: rgba(0,0,0,0.3);
    margin: 5px auto;
}

div.loader-page {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    background: white;
    z-index: 999999;
    box-shadow: 1px 1px 1px grey;
}

img.loading {
    display: block;
    padding: 15px;
}

ul.pledge-timer, ul.pledge-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.3);
}

ul.pledge-timer li, ul.pledge-list li {
    display: inline-block;
    padding: 5px;
}


li.pend {
    color: white;
}

li.timer {
    color: yellow;
    float: right;
}

.pledges {
    margin: 5px auto;
    background: rgba(0,0,0,0.3);
    max-height: 200px;
    overflow: auto;
}

li.pledge-amount {
    color: white;
}

li.pledge-date {
    float: right;
    color: yellow;
    font-size: 0.9em;
}

ul.feedback {
    max-height: 3em;
    background: rgba(0,0,0,0.2);
    padding: 2px;
    color: white;
    margin: 0 5px;
}

table.payouts {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1rem;
}

tr {
    border: 1px solid #dddddd;
    background: rgba(255,255,255,0.3);
}

tr:nth-child(even){
    background: rgba(0,0,0,0.3);
}

td, th {
    padding: 5px;
}

td.right {
    text-align: right;
}

td.left {
    text-align: left;
}

ul.feeds {
    width: 100%;
    list-style: none;
}

ul.feeds li {
    margin: 5px;
}

ul.feeds li.me {
    text-align: left;
    font-style: italic;
    color: white;
}

ul.feeds li.ans {
    text-align: right;
    color: white;
    font-weight: bold;
}